* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    box-shadow: 0px 3px 10px rgba(99, 20, 80);
    position: sticky;
    top: 0;
    background-color: #fff;
}

nav {
    min-height: 10vh;
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2,
ul {
    font-size: 1rem;
    flex: 1;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-size: 20px;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 5rem;
    color: white;
}

.home {
    background: linear-gradient(to right top, black, green)
}

.projects {
    background: linear-gradient(to right top, blue, green)
}

.contact {
    background: linear-gradient(to right top, yellow, pink)
}

.bubble {
    position: absolute;
    z-index: -2;
    transform: scale(2);
    transition: all 0.8s ease
}

@media screen and (max-width: 800px) {
    .lins {
        width: 36px;
        height: 3px;
        background: rgb(12, 56, 175);
        margin: 5px;
    }
    .nav-links {
        justify-content: center;
        position: absolute;
        border-radius: 30px;
        padding: 5px;
        margin-top: 500px;
        background-color: #fff;
        height: 10vh;
        width: 100px;
        flex-direction: column;
    }
}

.search {
    display: flex;
    margin-top: 30px;
}

#input {
    padding: 1px;
    border-radius: 5px;
    border-style: double blue;
    border-color: lawngreen
}

#input:hover {
    border-color: aqua;
}